.sd-classes-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sd-classes-wrapper{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sd-classes-p-big{
    font-family: 'Ogg', sans-serif;
    font-size: 70px;
    margin-left: 80px;
}

.sd-classes-flex{
    height: 70%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sd-classes-flex-p{
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sd-classes-flex-p p{
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 20px;
}

.sd-classes-flex img{
    height: 100%;
    width: 55%;
}
