.fd-classes-main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fd-classes-wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.fd-classes-p-wrapper{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fd-classes-p-big{
    font-family: 'Ogg', sans-serif;
    font-size: 100px;
    margin-top: 200px;
}

.fd-classes-p-small{
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.fd-classes-wrapper img{
    height: 70%;
    width: 50%;
    margin-top: 100px;
}
