.main-main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.main-img{
    height: 100%;
    width: 90%;
    background-image: url('../../../../img/main_page/couple-ballet-dancers-.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div-p-big{
    color: white;
    font-family: 'Ogg', sans-serif;
    font-size: 190px;
}

.main-p-div p:first-child{
    margin-left: 80px;
    margin-bottom: 120px;
}

.margin-left{
    margin-left: 710px;
}

.margin-top{
    margin-top: 230px;
}

.margin-bottom{
    margin-bottom: 100px;
}

.main-p-div{
    width: 100%;
    display: flex;
}


.main-div-p-small{
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 115px;
}

.header{
    height: 100px;
    width: 100%;
    /*background-color: #ECECEC;*/
    display: flex;
    justify-content: space-between;
}

.header-left{
    height: 100%;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-left a{
    cursor: pointer;
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 15px;
    color: #ECECEC;
    text-decoration: none;
}

.header-right{
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

