@import url(//db.onlinewebfonts.com/c/2596224269750e00c3ad5356299a3b9f?family=Ogg);
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ogg', sans-serif;
  font-family: 'Proxima-Nova', sans-serif;
}

